@font-face {
  font-family: "SFProDisplayRegular";
  src: url("./assets/fonts/SFPRODISPLAYREGULAR.OTF");
}

@font-face {
  font-family: 'SFProDisplayBold';
  src: local('SFPRODISPLAYBOLD'),
       url('./assets/fonts/SFPRODISPLAYBOLD.OTF');
}


/* h1 {
  font-family: SFProDisplayBold;
} */

p, span, a, h1, h2 {
  font-family: SFProDisplayRegular;
}
